body{
		/*background-image: url("https://static.pexels.com/photos/258266/pexels-photo-258266.jpeg");*/
		background-image: url(https://static.pexels.com/photos/29672/pexels-photo-29672.jpg);
		/*background-image: url("BG1.jpeg");*/
        background-size: cover;
        background-attachment: fixed;
        background-origin: initial;
        background-clip: initial;
        background-color: rgb(245, 245, 245);
        background-repeat: no-repeat;
        background-position: right top;
        image-rendering: -webkit-optimize-contrast;
}

h1{
	color: white;
	font-size: 3.75em;
	font-weight: 500px;
	font-family: Verdana;

}

#name{
	margin-top: 230px;
	position: center;
}

p{
	
	font-size: 16px;
	font-family: verdana, cursive;
	font-weight: 100;
	color: #f0f0e8;
}

.button{
	border-color: white;
	border-radius: 0;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: #F5591F;
  color: white;
  width:120px;
  height: 45px;
}

.button:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: white;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  color: white;
}

.button:hover span {
  padding-right: 25px;
  color: white;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
  color: white;
}

.login{
	border-color: transparent;
}

.signup{
	background-color: transparent;
	border-color:white;
}


footer {
          background-color: transparent;
          color: white;
          padding: 5px;
          height: 30px;
          display: block;
          position: fixed;
    		width: 100%;
    		bottom: 0;
    		border-top: 5px;
    		border-top-color: white;
    		padding-top: 5px;
   
        
        }


        .foot{
     
        	color: white;
        	font-family: arial;

        }